<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Blog App</h1>
    <p>Where you can add delete and edit your blogs</p>
    <a href="/articles">Articles Dashboard</a>
    <a href="/users">User Authentication</a>
  </body>
</html>
