<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Welcome to Ecom</p>
    <a href="">Admin Login</a>
    <a href="">User Login</a>
    <a href="/products">Normal</a>
  </body>
</html>
